header.header {
  .toolbar-horizontal.toolbar-fixed {
    top: 50px;
  }

  .toolbar-horizontal.toolbar-fixed.toolbar-tray-open & {
    top: 112px;
  }

  .toolbar-horizontal.toolbar-fixed.toolbar-tray-open.scroll-up & {
    top: 39px;
  }

  .toolbar-horizontal.toolbar-fixed.scroll-down &,
  .toolbar-horizontal.toolbar-fixed.toolbar-tray-open.scroll-down & {
    top: -200px;
  }
}

#block-gt-honors-local-tasks {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  opacity: .999;
  background: rgba(255, 255, 255, .8);
  backdrop-filter: blur(12px);

  .tabs {
    margin: 0 min(5vw, var(--gin-spacing-xxl));
    padding: 0;
    display: flex;

    & > li {
      margin: 0;
      padding: 0;
      list-style: none;

      & > a {
        font-family: var(--gin-font);
        font-size: var(--gin-font-size-xs);
        line-height: 2;
        font-weight: var(--gin-font-weight-normal);
        color: var(--gin-color-text-light);
        border-radius: 0;
        padding: 10px 20px;
        display: block;
        text-decoration: none;

        &:hover,
        &:focus,
        &:focus-visible {
          color: var(--gin-color-primary-hover);
        }
      }
    }
  }
}

body:has(#block-gt-honors-local-tasks) {
  .footer {
    padding-bottom: 70px;
  }
}

.layout-builder {
  background-color: transparent;

  &__add-section {
    background-color: transparent;
  }

  &__section {
    outline: 2px dotted #0036b1;
  }
}

.layout-builder-form {
  & > .form-actions {
    background-color: transparent;
    margin: 0;
    padding: 0;
    box-shadow: none;
    border: none;

    .button {
      font-family: "Roboto Slab", serif;
      font-size: 1.188rem;
      font-weight: 400;
      color: #222222;
      padding: 0.875rem 2rem;
      border: none !important;
    }
  }
}

