@import "src/sass/core";
@import "src/sass/placeholders/index";


.alert-box {
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  padding: px-to-rem(40px);
  border: 2px solid $color-tech-gold;
  border-radius: px-to-rem(10px);

  &__title.h4 {
    margin-bottom: 1rem;
  }

  &__link {
    margin-top: 2rem;

    @include media-breakpoint-down(sm) {
      align-self: center;
    }

    a,
    button {
      @include gtl-button--secondary;
      display: flex;
      gap: 1.75rem;
    }

    svg.ext {
      transform: scale(2.5);
      fill: $color-neutral000;
      transition: fill $transition;
      @include instant-transition-on-touch-devices;

      path {
        stroke: $color-neutral000;
        transition: stroke $transition;
        @include instant-transition-on-touch-devices;
      }
    }

    &:hover svg.ext {
      fill: $color-white;

      path {
        stroke: $color-white;
      }
    }
  }
}
