@mixin instant-transition-on-touch-devices {
  @media (hover: none) {
    transition-duration: 0ms;
  }
}

@mixin gtl-button {
  @extend %font-button;
  position: relative;
  display: inline-block;
  cursor: pointer;
  background-color: $color-white;
  color: $color-neutral000;
  vertical-align: middle;
  border-radius: 50px !important;
  border: 0;
  overflow: hidden;
  z-index: 0;
  padding: 0.875rem 2rem;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: $color-hover-gold;
    color: $color-tech-button-gold;
  }

  &:disabled,
  &.is-disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

@mixin gtl-button--primary {
  @extend %font-button;
  color: $color-neutral000;
  padding: 0.875rem 2rem;
  position: relative;
  display: inline-block;
  border-radius: 50px !important;
  background-clip:  padding-box;
  border: 0;
  width: fit-content;
  overflow: hidden;
  z-index: 0;
  background:  linear-gradient(to right, $color-secondary000 50%, $color-navy-blue 50%);
  background-size: 200% 100% !important;
  background-position:left bottom;
  transition: color $transition, background $transition;
  text-decoration: none;
  @include instant-transition-on-touch-devices;

  svg {
    path {
      transition: fill $transition-duration;
      @include instant-transition-on-touch-devices;
    }
  }

  &:hover,
  &:focus {
    color: $color-white;
    text-decoration: none;
    background-position: right bottom;

    svg {
      path {
        fill: $color-white;
      }
    }
  }

  &.btn-light {
    background:  linear-gradient(to right, $color-secondary000 50%, $color-white 50%);

    &:hover,
    &:focus {
      color: $color-navy-blue;
      background-position: right bottom;
    }
  }
}

@mixin gtl-button--secondary {
  @extend %font-button;
  color: $color-neutral000;
  padding: 0.875rem 2rem;
  position: relative;
  display: inline-block;
  border-radius: 50px !important;
  border: 2px solid $color-neutral000;
  background-clip:  padding-box;
  background:  linear-gradient(to right, transparent 50%, $color-navy-blue 50%);
  background-size: 200% 100% !important;
  background-position:left bottom;
  width: fit-content;
  overflow: hidden;
  z-index: 0;
  transition: background $transition, color $transition;
  text-decoration: none;
  @include instant-transition-on-touch-devices;

  &:hover,
  &:focus {
    color: $color-white;
    text-decoration: none;
    background-position: right bottom;
  }

  &.btn-light {
    background:  linear-gradient(to right, transparent 50%, $color-white 50%);
    border: 2px solid $color-white;
    color: $color-white;

    &:hover,
    &:focus {
      color: $color-navy-blue;
      background-position: right bottom;
    }
  }
}

@mixin gtl-button--tertiary {
  @extend %font-button;
  color: $color-neutral000;
  position: relative;
  display: inline-block;
  border: 0;
  padding: 0.5rem 3.75rem 0.5rem 0;
  width: fit-content;
  min-height: 35px;
  overflow: hidden;
  z-index: 0;
  transition: color $transition;
  @include instant-transition-on-touch-devices;

  &::after {
    content: '';
    position: absolute;
    right: -2px;
    top: 0;
    width: 50px;
    height: 35px;
    border-radius: 50px;
    background: transparent url('/themes/custom/gtl_theme/dist/assets/chevron-right.svg') no-repeat center center / 10px;
    transition: background $transition;
    @include instant-transition-on-touch-devices;
  }

  &::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 35px;
    border-radius: 50px;
    background:  linear-gradient(to right, $color-secondary000 50%, $color-navy-blue 50%);
    background-size: 200% 100% !important;
    background-position:left bottom;
    z-index: -1;
    transition: background $transition-duration;
    @include instant-transition-on-touch-devices;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    color: $color-neutral000;

    &::after {
      background: transparent url('/themes/custom/gt_honors/images/assets/chevron-right--white.svg') no-repeat center center / 10px;
    }

    &::before {
      background-position: right bottom;
    }
  }
}

@mixin gtl-button--text-link {
  color: $color-navy-blue;

  &:hover {
    color: $color-tech-button-gold;
  }
}

@mixin gtl-button-text-and-arrow {
  position: relative;
  color: $color-neutral000;
  font-weight: $font-weight-regular;
  text-decoration: none;
  border: none;
  padding-right: 30px;
  @include instant-transition-on-touch-devices;

  &::after {
    content: '';
    position: absolute;
    margin-left: 16px;
    width: 16px;
    height: 15px;
    transform: translateY(5px);
    background: url('/themes/custom/gt_honors/images/arrow.svg') no-repeat center center / 16px;
    transition: margin-left $transition-duration;
    @include instant-transition-on-touch-devices;
  }

  &:hover {
    text-decoration: none;

    &::after {
      margin-left: 25px;
    }
  }
}

@mixin gtl-button--back {
  @extend %font-button;
  color: $color-neutral000;
  position: relative;
  background: transparent;
  display: inline-block;
  border: 0;
  border-radius: 0 !important;
  padding: 0.5rem 0 0.5rem 3.75rem;
  width: fit-content;
  min-height: 35px;
  overflow: hidden;
  z-index: 0;
  transition: color $transition;
  @include instant-transition-on-touch-devices;

  &::after {
    content: '';
    position: absolute;
    left: -2px;
    top: 0;
    width: 50px;
    height: 35px;
    border-radius: 50px;
    background: transparent url('/themes/custom/gtl_theme/dist/assets/chevron-left.svg') no-repeat center center / 10px;
    transition: background $transition;
    @include instant-transition-on-touch-devices;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 35px;
    border-radius: 50px;
    background:  linear-gradient(to right, $color-secondary000 50%, $color-navy-blue 50%);
    background-size: 200% 100%;
    background-position:left bottom;
    z-index: -1;
    transition: background $transition-duration;
    @include instant-transition-on-touch-devices;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    color: $color-neutral000;
    background: transparent;

    &::after {
      background: transparent url('/themes/custom/gtl_theme/dist/assets/chevron-left--white.svg') no-repeat center center / 10px;
    }

    &::before {
      background-position: right bottom;
    }
  }
}

@mixin gtl-pager--next {
  @extend %font-button;
  color: $color-neutral000;
  position: relative;
  display: inline-block;
  border: 0;
  padding: 0.625rem 3.75rem 0.625rem 0;
  width: fit-content;
  overflow: hidden;
  z-index: 0;
  transition: color $transition;
  @include instant-transition-on-touch-devices;

  &::after {
    content: '';
    position: absolute;
    right: -2px;
    top: 0;
    width: 50px;
    height: 100%;
    border-radius: 50px;
    background: transparent url('/themes/custom/gtl_theme/dist/assets/chevron-right.svg') no-repeat center center / 10px;
    transition: background $transition;
    @include instant-transition-on-touch-devices;
  }

  &::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    border-radius: 50px;
    background:  linear-gradient(to right, $color-secondary000 50%, $color-navy-blue 50%);
    background-size: 200% 100%;
    background-position:left bottom;
    z-index: -1;
    transition: background $transition;
    @include instant-transition-on-touch-devices;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    color: $color-neutral000;

    &::after {
      background: transparent url('/themes/custom/gtl_theme/dist/assets/chevron-right--white.svg') no-repeat center center / 10px;
    }

    &::before {
      background-position: right bottom;
    }
  }
}

@mixin gtl-pager--previous {
  @extend %font-button;
  color: $color-neutral000;
  position: relative;
  display: inline-block;
  border: 0;
  padding: 0.625rem 0 0.625rem 3.75rem;
  width: fit-content;
  overflow: hidden;
  z-index: 0;
  transition: color $transition;
  @include instant-transition-on-touch-devices;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 100%;
    border-radius: 50px;
    background: transparent url('/themes/custom/gtl_theme/dist/assets/chevron-left.svg') no-repeat center center / 10px;
    transition: background $transition;
    @include instant-transition-on-touch-devices;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 100%;
    border-radius: 50px;
    background:  linear-gradient(to right, $color-secondary000 50%, $color-navy-blue 50%);
    background-size: 200% 100%;
    background-position:left bottom;
    z-index: -1;
    transition: background $transition;
    @include instant-transition-on-touch-devices;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    color: $color-neutral000;

    &::after {
      background: transparent url('/themes/custom/gtl_theme/dist/assets/chevron-left--white.svg') no-repeat center center / 10px;
    }

    &::before {
      background-position: right bottom;
    }
  }
}
