.gt-search-page {
  padding-bottom: $m-mobile;

  .search-form {
    margin-bottom: $m-desktop;

    .form-wrapper {
      position: relative;
    }

    label {
      font-size: $font-14;
      line-height: 1.375rem;
      font-weight: $font-weight-bold;
      white-space: nowrap;

      &[for=edit-keys] {
        @include visually-hidden;
      }
    }

    input,
    select {
      color: $color-neutral100;
      border-radius: 50px;
      padding: 1rem 1.25rem;
      border: none;
    }

    .js-form-type-search,
    .js-form-type-search input {
      width: 100%;
    }

    .form-submit {
      position: absolute;
      right: 0;
      padding: px-to-rem(17px) 2rem;
    }

    .search-advanced {
      margin-top: 2rem;
    }

    .search-help-link {
      display: none;
    }
  }

  &__results {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .search-form + h2 {
    @extend %h3;
    margin-bottom: $m-mobile;
  }
}
