/*
* Theme variables.
* These variables will override bootstrap defaults.
* To override more variables take a look at @node_modules/bootstrap/scss/_variables.scss
*/
$grid-gutter-width: 2.5rem;

/* Colors common colors */
// Style guide: Colors.colors
// Primary
$color-tech-gold: #B3A369;
$color-tech-light-gold: #bfb37c;
$color-tech-dark-gold: #A4925A;
$color-tech-button-gold: #857437;
$color-tech-gold-contrast: $color-tech-button-gold;
$color-buzz-gold: #EAAA00;
$color-navy-blue: #003057;
$color-burger-bowl: #B7C42F;
$color-white: #FFF;
$color-black: #000;
$color-off-black: #262626;
//Grandients and opacity
$color-white-0: rgba(255, 255, 255, 0);
$color-white-75: rgba(255, 255, 255, 0.75);
$color-white-100: rgba(255, 255, 255, 1);
$color-grey-0: rgba(244, 244, 244, 0);
$color-grey-75: rgba(244, 244, 244, 0.75);
$color-grey-100: rgba(244, 244, 244, 1);
$color-white-80: rgba(255, 255, 255, 0.8);
$color-black-75: rgba(0, 0, 0, 0.75);
$color-off-black-100: rgba(70, 70, 70, 0.75);
$color-black-100: rgba(0, 0, 0, 0.75);
$color-black-30: rgba(0, 0, 0, 0.25);
$color-black-25: rgba(0, 0, 0, 0.25);
$color-black-10: rgba(0, 0, 0, 0.1);
$color-box-shadow-menu: 0px 6px 6px 3px rgba(0, 0, 0, 0.1);
$color-box-shadow-hover: 0 4px 16px 0 rgba(38, 38, 38, 0.24);
$color-gray-black-fade: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%,rgba(70, 70, 70, 0.9) 100%);
$color-black-fade: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%,rgba(0, 0, 0, 0.95) 100%);
$color-black-fade-alternative: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.66) 100%);
$color-white-fade: linear-gradient(to bottom, $color-white-0 0%, $color-white-100 100%);
$color-white-cta-fade: linear-gradient(to bottom, $color-white-75 0%, $color-white-100 100%);
$color-grey-cta-fade: linear-gradient(to bottom, $color-grey-75 0%, $color-grey-100 100%);
$color-black-cta-fade: linear-gradient(to bottom,rgba(40, 40, 40, 0.75) 0%, rgba(0, 0, 0, 1) 100%);

// Secondary Golds
$color-lightest-gold: #F7F5F0;
$color-hover-gold: #EDE9DB;
$color-darkest-gold: #7D7042;
$color-tech-gold-24: rgba(179, 163, 105, 0.24);
$color-navy-blue-50: rgba(0, 48, 87, 0.5);

// Grays
$color-footer-gray: #3B3B3B;
$color-pie-mild: #D6DBD4;
$color-silver: #bbb;
$color-alto: #ddd;
$color-gallery: #eee;
$color-block-quote-back: #efefef;
$color-alabaster: #f7f7f7;
$color-gray-46: #464646;

// Utility Colors
$color-error-red: #9b2743;
$color-focus-blue: #2d7abf;
$color-link-blue: #004F9F;
$color-radio-blue: $color-link-blue;
$color-hover-blue: #1879db;
$color-open-green: #B7C42F;
$color-available-green: #377117;
$color-unavailable-red: #AD4025;

//Secondary new colors
$color-secondary000: #FFCD00;

//Tertiary new colors
$color-tertiary000: #F8B400;
$color-tertiary100: #A4D233;
$color-tertiary200: #E04F39;
$color-tertiary300: #BC1900;

//Tags
$color-tag1: #B1E5E4;
$color-tag2: #FCC5BD;
$color-tag3: #D1E899;
$color-tag4: #F8DB68;
$color-tag5: #EACD80;
$color-tag6: #C1E2F5;
$color-tag7: #D9DB84;
$color-tag8: #FFCA99;
$color-tag9: #CFBDE2;
$color-tag10: #B7E8BC;

//Neutral
$color-neutral000: #222222;
$color-neutral100: #54585A;
$color-neutral200: #D6DBD4;
$color-neutral300: #EAEDE9;
$color-neutral400: #F7F8F6;
$color-neutral500: #F4F4F4;

/* Fonts */
$font-primary: sans-serif;
$font-secondary: 'Roboto Slab', serif;
$heading_font: $font-primary;
$body_font: $font-secondary;
$font-icons: "theme-icons";

$desktop-breakpoint: lg;

/* Grid variables */
// $grid-columns: 12; /* Add a custom value if needed */
// $grid-gutter-width: 30px; /* Add a custom value if needed */

/* Custom breakpoints. Verify the current design to identify if all the breakpoint are necessaries or if we can remove some of them */
$grid-breakpoints: (
  xxs: 0,
  xs: 576px,
  sm: 667px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
  xxxl: 1600px
);

$container-max-widths: (
  xs: 544px,
  sm: 644px,
  md: 720px,
  lg: 960px,
  xl: 1168px,
  xxl: 1408px,
  xxxl: 1568px
);

//=======================================================
// Variables
//=======================================================

$zi-highest: 50;
$zi-high: 40;
$zi-medium: 30;
$zi-low: 20;
$zi-lowest: 10;
$zi-ground: 0;
$zi-below-ground: -1;

// The bootstrap like layout has a consistent gutter of 30px;
$gutter-unit: 1.25rem;

$vertical-gap: 7.5rem;
$vertical-gap-mobile: 3.125rem;
$column-gap: 2.5rem;

// Transition speeds.
$transition: 0.3s ease-in-out;
$transition-fast: 0.1s linear;
$motion-slow: 1000ms ease-in-out;
$motion-default: 500ms ease-in-out;
$motion-fast: 250ms ease-in-out;
$motion-super-fast: 50ms ease-in-out;

$transition-duration: .3s;
$transition-bezier: 0.190,1.000,0.220,1.000;

$font-10: 0.625rem;
$font-12: 0.750rem;
$font-14: 0.875rem;
$font-15: 0.938rem;
$font-16: 1rem;
$font-18: 1.125rem;
$font-18: 1.188rem;
$font-20: 1.250rem;
$font-22: 1.375rem;
$font-23: 1.4375rem;
$font-24: 1.500rem;
$font-26: 1.625rem;
$font-28: 1.750rem;
$font-30: 1.875rem;
$font-32: 2rem;
$font-34: 2.125rem;
$font-36: 2.250rem;
$font-38: 2.375rem;
$font-40: 2.5rem;
$font-46: 2.875rem;
$font-48: 3rem;
$font-50: 3.125rem;
$font-52: 3.25rem;
$font-42: 2.625rem;
$font-64: 4.000rem;
$font-80: 5.000rem;
$font-100: 6.25rem;
$font-105: 6.563rem;
$mod_1: 1.2; // mobile
$mod_2: 1.5; // desktop

$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 300;
$font-italic: italic;

// Margins (between the components/blocks).
// $margin-sm: 3.125rem;
// $margin-lg: 6.250rem;
