.layout {
  table {
    width: 100%;
    margin: 1rem 0 2rem;
  }

  tr {
    border: 1px solid #EAEDE9;
  }

  td,
  th {
    padding: .75rem 1.5rem;
  }

  tbody {
    tr {
      &:nth-child(odd) {
        background-color: $color-neutral300;
      }
  
      &:nth-child(even) {
        background-color: $color-white;
      }
    }
  }

  @include media-breakpoint-down(md) {
    table {
      display: flex;
      flex-direction: column;
    }

    thead {
      @include visually-hidden();
    }

    tr {
      display: flex;
      flex-direction: column;
    }
  }
}
