.block-layout-builder {
  height: 100%;

  .layout__region--first &,
  .layout__region--second &,
  .layout__region--third & {
    height: unset;
    padding-bottom: 1.5rem;

    &.block-inline-blockimage-with-copy {
      height: 100%;
    }
  }

  &.block-inline-blockimage-gallery {
    h2 {
      display: flex;
      align-items: center;

      &::before {
        color: $color-tech-gold;
        margin-right: 1.5rem;
        @extend %icon;
        @include getIcon("gallery");
      }
    }
  }
}
